.videoSidebar{
    position: absolute;
    top: 56%;
    right: 20px;
    color: white;
}

.videoSidebar__options{
    padding: 10px;
    text-align: center;
}

.videoSidebar__text{
    font-size: 10px;
}