.videoSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSidebar__options {
    padding: 10px;
    text-align: center;
}

.videoSidebar__text {
    font-size: 15px !important;
}

.videoSidebar__icons {
    font-size: 20px !important;
}

@media only screen and (max-width: 440px) {
    .videoSidebar {
        top: 50%;
        right: 20px;
    }

    .videoSidebar__text {
        font-size: 15px;
    }

    .videoSidebar__icons {
        font-size: 25px !important;
    }
}