.videoFooter {
    position: relative;
    bottom: 19%;
    color: white;
    margin-left: 20px;
}

.videoFooter__text h4 {
    padding-bottom: 5px;
    font-size: 15px;
    max-width: 200px;
    max-height: 16px;
}

.videoFooter__text p {
    margin-bottom: 10px;
    font-size: 12px;
    max-width: 200px;
    max-height: 16px;
    overflow: hidden;
}

.videoFooter__music {
    display: flex;
}

.videoFooter__musicText {
    width: 70%;
    overflow: hidden;
}

.videoFooter__musicText p {
    animation: musicText 4s infinite linear;
}

.videoFooter__record {
    animation: spinTheRecord 4s infinite linear;
    position: absolute;
    bottom: -2px;
    right: 20px;
    height: 40px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes musicText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}