.videoFooter {
    position: relative;
    bottom: 25%;
    color: white;
    margin-left: 20px;
}

.videoFooter__text h4 {
    padding-bottom: 5px;
    font-size: 13px;
    max-width: 190px;
    max-height: 20px;
}

.videoFooter__text p {
    margin-bottom: 10px;
    font-size: 10px;
    max-width: 190px;
    max-height: 15px;
    overflow: hidden;
}

.videoFooter__icon {
    font-size: 20px !important;
}

.videoFooter__music {
    display: flex;
}

.videoFooter__musicText {
    width: 69%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.videoFooter__musicText p {
    animation: musicText 4s infinite linear;
    margin-bottom: 0px;
    max-height: 15px;
}


.videoFooter__record {
    animation: spinTheRecord 4s infinite linear;
    position: absolute;
    right: 10px;
    height: 40px;
    bottom: -11px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes musicText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 440px) {
    .videoFooter__icon {
        font-size: 30px !important;
    }

    .videoFooter__record {
        right: 18px;
        height: 50px;
        bottom: -10px;
    }

    .videoFooter__musicText {
        width: 72%;
    }
}